<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/selection.css')}}">
	</head>
	<body>
		<h1 class="title"> Atlanta </h1> 
		<div class='container'>
			<div class='button'>
				<a class='title' href="{{url_for('journalist')}}" > <h1> Journalist </h1> </a> 
			</div>
			<div class='button'>
				<h1 class='title'> Politician </h1> 
			</div>
			<div class='button'>
				<h1 class='title'> Police Officer</h1> 
			</div>
			<div class='button'>
				<h1 class='title'> Citizen</h1> 
			</div>
		</div>
	
	</body>
</html>