
<!DOCTYPE html>
<html>
	<head>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/selection.css')}}">
		<script type='text/javascript'> 
        var count = 5;
			$(function() {

    // Remove button click
    $(document).on(
        'click',
        '[data-role="dynamic-fields"] > .form-inline [data-role="remove"]',
        function(e) {
            e.preventDefault();
            $(this).closest('.form-inline').remove();
        }
    );
    // Add button click
    $(document).on(
        'click',
        '[data-role="dynamic-fields"] > .form-inline [data-role="add"]',
        function(e) {
            e.preventDefault();
            var container = $(this).closest('[data-role="dynamic-fields"]');
            new_field_group = container.children().filter('.form-inline:first-child').clone();
            new_field_group.find('input').each(function(){
                $(this).val('');
                count += 1;
            });

            container.append(new_field_group);
        }
    );
});

		</script>
	</head>
	<body>
	<h1 class="title"> Query Part 3 </h1> 
	<div class="container">
    <div class="row">
        <div class="col-md-12">
        	<form action="{{url_for('visualize')}}" method="post">
            <div data-role="dynamic-fields">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="field-name">Start Year</label>
                        <input type="text" class="form-control" id="field-name" placeholder="Start Year" name="start_year">
                    </div>
                    <span>-</span>
                    <div class="form-group">
                        <label class="sr-only" for="field-value">Year Value</label>
                        <input type="text" class="form-control" id="field-value" placeholder="Enter Start Year" name="start_year_value">
                    </div>
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>

                </div> 
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="field-name">End Year</label>
                        <input type="text" class="form-control" id="field-name" placeholder="End Year", name="end_year">
                    </div>
                    <span>-</span>
                    <div class="form-group">
                        <label class="sr-only" for="field-value">Year Value</label>
                        <input type="text" class="form-control" id="field-value" placeholder="Enter End Year", name="end_year_value">
                    </div>
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="field-name">Description</label>
                        <input type="text" class="form-control" id="field-name" placeholder="Description", name="description">
                    </div>
                    <span>-</span>
                    <div class="form-group">
                        <label class="sr-only" for="field-value">Give Description Here</label>
                        <input type="text" class="form-control" id="field-value" placeholder="Give Description Here", name="description_text">
                    </div>
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="field-name">Precincts</label>
                        <input type="text" class="form-control" id="field-name" placeholder="Precincts", name="precincts">
                    </div>
                    <span>-</span>
                    <div class="form-group">
                        <label class="sr-only" for="field-value">Separate them by commas</label>
                        <input type="text" class="form-control" id="field-value" placeholder="Enter Precincts separate by commas", name="precincts_entered">
                    </div>
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="field-name">Apprehended</label>
                        <input type="text" class="form-control" id="field-name" placeholder="Apprehended", name="apprehended">
                    </div>
                    <span>-</span>
                    <div class="form-group">
                        <label class="sr-only" for="field-value">Apprehended Value</label>
                        <input type="text" class="form-control" id="field-value" placeholder="true or false", name="apprehended_bool">
                    </div>
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="field-name">Starting Age</label>
                        <input type="text" class="form-control" id="field-name" placeholder="Starting Age", name="start_age">
                    </div>
                    <span>-</span>
                    <div class="form-group">
                        <label class="sr-only" for="field-value">Starting Age </label>
                        <input type="text" class="form-control" id="field-value" placeholder="Enter a starting age", name="start_age_value">
                    </div>
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="field-name">Ending Age</label>
                        <input type="text" class="form-control" id="field-name" placeholder="Ending Age", name="end_age">
                    </div>
                    <span>-</span>
                    <div class="form-group">
                        <label class="sr-only" for="field-value">Ending Age </label>
                        <input type="text" class="form-control" id="field-value" placeholder="Enter a ending age", name="end_age_value">
                    </div>
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="field-name">Weapons</label>
                        <input type="text" class="form-control" id="field-name" placeholder="Weapons", name="weapon">
                    </div>
                    <span>-</span>
                    <div class="form-group">
                        <label class="sr-only" for="field-value">List Of weapons </label>
                        <input type="text" class="form-control" id="field-value" placeholder="weapons:x,y", name="weapons_list">
                    </div>
                    <button class="btn btn-danger" data-role="remove">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-primary" data-role="add">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
             
                    
                </div>  <!-- /div.form-inline -->
            </div>
            <div class="form-inline">
                    <div class="form-group">
                        <input type="submit" >
                    </div>
            </form>  <!-- /div[data-role="dynamic-fields"] -->
        </div>  <!-- /div.col-md-12 -->
    </div>  <!-- /div.row -->
</div>
	</body>
</html>