<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/selection.css')}}">
	</head>
	<body>
		<h1 class="title"> What kind of user are you? </h1> 
		<div class='container'>
			<div class='button'>
				<a class='title' href="{{url_for('journalist')}}" > <h1> Journalist </h1> </a> 
			</div>
			<div class='button'>
				<a class='title' href="{{url_for('politician')}}" > <h1> Politician </h1> </a>  
			</div>
			<div class='button'>
				<a class='title' href="{{url_for('policeofficer')}}" > <h1> Police Officer</h1> </a> 
			</div>
			<div class='button'>
				<a class='title' href="{{url_for('citizen')}}" > <h1> Citizen </h1> </a> 
			</div>
		</div>
	
	</body>
</html>